@model IEnumerable<PresentationLayer.Models.CompanyModel>

<div>
        @foreach (var item in Model)
        {
            <div class="alert alert-warning">
                <h4>
                    @Html.DisplayFor(modelItem => item.Name)
                </h4>
                <div class="row">
                    <div class="col-sm-4 h5">
                        @Html.DisplayFor(modelItem => item.Nip)
                    </div>
                    <div class="col-sm-4 h5">
                        @Html.DisplayFor(modelItem => item.Www)
                    </div>
                    <div class="col-sm-4 h5">
                        @Html.DisplayFor(modelItem => item.Phone)
                    </div>
                </div>
                    @Html.DisplayFor(modelItem => item.Address)
            </div>
        }

</div>



