@model IEnumerable<PresentationLayer.WcfServiceReference.CompanyModel>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyPhysicalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyInternetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyNipNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyPhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyPhysicalAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyInternetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyNipNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyPhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
